* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  animation-fill-mode: forwards;
  font-size: 16px;
  width: 100px;
  padding: 15px;
  border: none;
  border-radius: 7px;
  background-color: rgb(217, 214, 214);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: transform .1s;
}

button:hover{
  transform: scale(1.2);
}


span {
  font-size: 25px;
}